*,
body {
    margin: 0;
}

body {
    background-color: black;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a2f7c9d8-a913-4273-847f-705be41395df/dan6r7a-aefd65d4-8eb4-4ead-9a8c-741fe60fb16d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9hMmY3YzlkOC1hOTEzLTQyNzMtODQ3Zi03MDViZTQxMzk1ZGYvZGFuNnI3YS1hZWZkNjVkNC04ZWI0LTRlYWQtOWE4Yy03NDFmZTYwZmIxNmQuZ2lmIn1dXX0.QDmmb3U-8EI2bZknKw2zQ_E4LO-X096HuPlwrRkrnY4");
    padding-top: 70px;
    opacity: 0.65;
}

.nav-item {
    margin: 2px;
}

h1 {
    font-family: fancy;
    margin-top: 0;
}

.navigasi {
    margin-bottom: 5px;
}

.col {
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.carousel-inner {
    width: 100%;
    /* use this, or not */
    margin-left: 100px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: grey;
}

.carousel-indicators {
    bottom: -50px;
}

.lead {
    text-align: center;
    font-weight: normal;
}

.display-4 {
    text-align: center;
    font-weight: bold;
}

#phead {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
}

#catalogue {
    padding-top: 70px;
}

hr {
    width: 12%;
    border: 3px solid #ff2121;
}

footer {
    background-origin: padding-box;
    background-color: grey;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9px;
    clear: both;
    position: relative;
    height: 60px;
    width: auto;
    margin-top: 20px;
}